<!doctype html>
<html>
<head>
    <style type="text/css">
        body {
            background-color: white;
            color: black;
        }
    </style>
    <meta charset="utf-8">
    <title>Hello World!</title>
</head>
<body>
<header>
    <h1>Weather Report</h1>
</header>

<section>
    <form method="get" action="/">
        <label for="zip">ZipCode</label><input type="text" name="zip" id="zip" /><input type="submit" value="Submit"/>
    </form>
</section>

<h2>Current conditions in $model.weather.displayLocation.full</h2>
<table>
    <tr>
        <td><img src="$model.weather.iconUrl" alt="$model.weather.icon"/></td>
        <td><h3>$model.weather.tempF</h3></td>
    </tr>
</table>



<footer class="site-footer"></footer>
</body>
</html>
